<div class="character-sheet p-6">
  <h2 class="gothic-header text-xl mb-4">{{ 'character.movement.label' | dynamicTranslate }}</h2>
  <div class="grid grid-cols-2 gap-2 text-sm">
    <div>{{ 'character.movement.normal' | dynamicTranslate }}{{ 'ponctuation.colon' | dynamicTranslate }} {{ character.movement.normal }}</div>
    <div>{{ 'character.movement.running' | dynamicTranslate }}{{ 'ponctuation.colon' | dynamicTranslate }} {{ character.movement.running }}</div>
    <div>{{ 'character.movement.climbing' | dynamicTranslate }}{{ 'ponctuation.colon' | dynamicTranslate }} {{ character.movement.climbing }}</div>
    <div>{{ 'character.movement.swimming' | dynamicTranslate }}{{ 'ponctuation.colon' | dynamicTranslate }} {{ character.movement.swimming }}</div>
  </div>
</div>